.animation h3 {
    margin: 0px;
}
.animation .sub-heading {
    margin-bottom: 10px;
}
.animation .title {
    color: #008670
}
.animation .help {
    color: #b9b9b9;
    font-weight: 200 !important
}
.animation {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.animation .ani_box {
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    min-height: 250px;
    max-height: 250px;
}
.ani_content {
    padding: 50px;
}

/* Effects */


/* Effect 1  -  Single Circle */
.animation .effect-1 .circle {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #d38600;
    border-left-color: #d38600;
    animation-name: single-spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
/*    webkit  */
     -webkit-animation-name: single-spin;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
/* moz */
     -moz-animation-name: single-spin;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
/* o */
     -o-animation-name: single-spin;
    -o-animation-duration: .5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.animation .effect-1 .circle.anti-clockwise {
        animation-direction: reverse;
        -moz-animation-direction: reverse;
        -webkit-animation-direction: reverse;
        -o-animation-direction: reverse;

}.animation .effect-1 .circle.alternate {
    border-left-color: transparent;
        animation-direction: alternate;
        -moz-animation-direction: alternate;
        -webkit-animation-direction: alternate;
        -o-animation-direction: alternate;

}
@keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
    
}
@-webkit-keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }  
    
}
@-moz-keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }  
    
}
@-o-keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }  
    
}


