body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased; 
}
a {
    cursor: pointer;
}
img {
    display: inline-block !important;
    height: 75px !important;
}
.icon-logo {
    font-size: 1em !important;
}
.highlight {
    color: #40BC77;
}
.header {
    padding-top:50px; 
    padding-bottom:50px; 
}
.title {
    font-weight: 100;
}
.content {
    margin-top: 50px;
}
.class {
    margin-top: 50px;
}
.box {
    padding: 30px;
}
.animation-widget {
       width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.ani-title  {
    color: #333;
    font-size: 1em;
    margin-top: 30px;
}
code {
    color: #0054f2 !important;
}
code .class {
    color: #008139;
}
/* Bootstrap override */
.modal-content {
    border-radius: 0px;
}
.modal-header {
    border: none;
}
.modal-title {
    color: #333;
    text-align: center;
}
.btn.btn-primary {
    background-color: #fff;
    border-color: #008139; 
    color: #008139;
    border-radius: 20px;;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active,
.btn.btn-primary.active, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:active{
    background-color: #008139;
    border-color: #008139; 
    color: #fff;
    outline: none;
    box-shadow: none;
}