

/* Effects */


/* Effect 1  -  Single Circle */
.circle {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #d38600;
    border-left-color: #d38600;
}

.spin {
      animation-name: single-spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
/*    webkit  */
     -webkit-animation-name: single-spin;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
/* moz */
     -moz-animation-name: single-spin;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
/* o */
     -o-animation-name: single-spin;
    -o-animation-duration: .5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.anti-clockwise {
        animation-direction: reverse;
        -moz-animation-direction: reverse;
        -webkit-animation-direction: reverse;
        -o-animation-direction: reverse;

}
.alternate {
/*    border-left-color: transparent;*/
        animation-direction: alternate;
        -moz-animation-direction: alternate;
        -webkit-animation-direction: alternate;
        -o-animation-direction: alternate;

}
@keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
    
}
@-webkit-keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }  
    
}
@-moz-keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }  
    
}
@-o-keyframes single-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }  
    
}


