body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased; 
}
a {
    cursor: pointer;
}
img {
    display: inline-block !important;
    height: 75px !important;
}
.icon-logo {
    font-size: 1em !important;
}
.highlight {
    color: #40BC77;
}
.header {
    padding-top:50px; 
    padding-bottom:50px; 
}
.title {
    font-weight: 100;
}

.class {
    margin-top: 50px;
}
.box {
    padding: 30px;
	border: 1px solid transparent;
	transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-ms-transition: all linear 0.5s;
}
.main .box:hover {
	border-color: #40BC77;
}
.animation-widget {
       width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.ani-title  {
/*    color: #333;*/
    font-size: 1em;
    margin-top: 30px;
}
pre {
        max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
code {
    color: #0054f2 !important;

}
code .class {
    color: #008139;
}
.content {
    margin-bottom: 40px;
}
footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
footer p {
    margin: 0px;
}

/* Bootstrap override */
.modal-content {
    border-radius: 0px;
}
.modal-header {
    border: none;
}
.modal-title {
    color: #333;
    text-align: center;
}
.btn.btn-primary {
    background-color: #fff;
    border-color: #008139; 
    color: #008139;
    border-radius: 20px;;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active,
.btn.btn-primary.active, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:active{
    background-color: #008139;
    border-color: #008139; 
    color: #fff;
    outline: none;
    box-shadow: none;
}

@media (max-width: 767px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .btn {
        font-size: 0.8em !important;
    }
}
@media (min-width: 768px) {
    .content {
    margin-top: 50px;
    margin-bottom: 100px;
}
    
}