
body {
    /*    padding-top: 50px;*/
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.f-green,
.f-brown {
 cursor: pointer;
}
.uppercase {
    text-transform: uppercase;
}
/*bootstrap override */


/* Button */


/* Button Default */

.btn-default {
    border-color :#fff;
    color :#fff;
    background-color: rgba(255, 255, 255, 0);
}

.btn-default:active,
.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
    border-color: rgba(255, 255, 255, 0);
    color: #008670 !important;
    background-color: #fff;
}

.container.header {
    background-color: #008670;
    border-radius: 8px;
    box-shadow: var(--box-shadow)
}

.header {
    margin-top: 10px;
}
.content {
    margin-top: 30px;
    margin-bottom: 20px;
        border-radius: 8px;

/*    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/

}
.title-container {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.title i {
    font-size: 500%;
    color: white;
}

.title-text {
    color: #fff;
    margin-top: 30px;
}
/* Fixed */

.fixed-color-pallet {
        position: fixed;
        top: 10%;
        left: 0;
        height: auto;
        padding: 15px;
        background-color: #fff;
/*        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
        border-radius: 0px 6px 6px 0px;
    }
    .f-brown,
    .f-green {
        padding: 15px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
/*        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
    }
    .f-brown {
        background-color: #d38600;
    }
    .f-green {
        background-color: #008670;
    }
@media (max-width: 767px) {}

@media (min-width: 991px) {
    .header {
        margin-top: 50px;
    }
    .title-container p {
        margin-top: 20px;
    }
}

@media( min-width: 768px) {
    .fixed-color-pallet {
        padding: 15px;
    }
    .f-brown,
    .f-green {
        padding: 20px;
    }
}

@media (max-width:767px) {
    /*     bootstrap */
    .btn-default {
        border-color: var(--bg-color);
        color: var(--bg-color);
        background-color: var(--trans-color)
    }
    .btn-default.active.focus,
    .btn-default.active:focus,
    .btn-default.active:hover,
    .btn-default:active.focus,
    .btn-default:active:focus,
    .btn-default:active:hover,
    .btn-default:active,
    .btn-default.active,
    .btn-default:hover,
    .btn-default:focus {
        border-color: #008670;
        color:#fff !important;
        background-color: #008670;
        outline: none;
    }
    .container {
/*        box-shadow: none !important;*/
        border-radius: 0 !important;
/*        background-color: #fff !important;*/
    }
    .header {
        margin-top: 0px;
    }
    .title i {
        font-size: 300%;
    }
    .title-text {
        font-size: 1.8em
    }
    .title i,
    .title-text,
    .title-container {
/*        color: #008670;*/
    }
}